#nav-logo, #nav-menu, #nav-icon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
  }

  
#nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#nav li a:hover {
    color: #646363;
    font-weight: bold;
}

#nav-logo {
    padding-left: 50px;
}

#nav-icon {
    padding-right: 50px;
}

#nav-logo-text {
    font-weight: bold;
    font-size: large;
}



