.qTitle {
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

.button-container {
    margin-bottom: 20px;
}

.button{
    margin-bottom: 20px;
}

#writeQna-button {
	margin-right: 17px;
}

#myQna-button:hover {
	background-color: #000;
	color: #fff;
}

.qna {
	margin: auto;
	max-width: 1050px;
	margin-top: 80px;
}

td {
	 width:20%;  
	 text-overflow:ellipsis; 
	 overflow:hidden; 
	 white-space:nowrap;"
}

.upper{
    margin-top: 50px;
}

.pagination-center {
	text-align: center;
	margin-bottom: 30px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: #656464;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.pagination a:hover:not (.active ) {
	font-weight: bold;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}